version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: carehub-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: carehub
      MYSQL_USER: carehub_user
      MYSQL_PASSWORD: carehub_pass
      MYSQL_ROOT_HOST: '%'
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: carehub-phpmyadmin
    depends_on:
      - db
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: rootpassword
    restart: unless-stopped
    ports:
      - "8080:80"

volumes:
  db_data:
